// colors - light theme
$accentColor = #0074D9
$textColor = #282c34
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$bodyBgColor = #FFFFFF
$badgeTipColor = #DDDDDD   
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// layout
$navbarHeight = 3.2rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// Progress bar
$nprogressColor = #0074D9

// colors - dark theme
$accentColorDark = #1F96FF
$textColorDark = #e2e1db
$borderColorDark = #4c525c
$codeBgColorDark = #1a1c22
$arrowBgColorDark = #555
$bodyBgColorDark = #25262b
$badgeTipColorDark = #3B3C41  
$badgeWarningColorDark = #ffe564
$badgeErrorColorDark = #692025

// Theme Fonts
$themeFont = "https://fonts.googleapis.com/css?family=Roboto+Mono|Lato&display=swap"
$bodyFontFamily = "Lato"
$monoFontFamily = "Roboto Mono"
$bodyFontSize = 18px